<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends "base.html" %}
{% load static %}

{% block main %}
	<div class="product-model">	 
		<div class="container">
			<div class="row">
				<ol class="breadcrumb">
					<li><a href="{% url 'index' %}">Inicio</a></li>
					<li class="active">Productos</li>
				</ol>
			</div>
			<h2>Nuestros productos</h2>
			<div class="col-md-3">
				<section  class="sky-form">
						<div class="product_right">
							<h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categorías</h4>
							{% for category in categories %}
								<div class="tab">
									<ul class="place">								
										<li class="sort">{{category.name}}</li>
										<div class="clearfix"> </div>
									</ul>
									{% if category.subcategories %}
										{% for cat in category.subcategories %}
											<div class="single-bottom">						
													<a href="#"><p>{{cat.name}}</p></a>
										    </div>
										{% endfor %}
									{% endif %}
							    </div>
							{% endfor %}
						</div>					 
				</section>
			</div>			
			<div class="product-model-sec col-md-9">
	         {% for category in categories.all %}
	           <div class="feature-grid col-md-4">
	             <a href="product.html"><img src="/media/{{category.thumbnail}}" height="150px" alt=""/> 
	               <div class="arrival-info" style="text-align:center"> 
	                 <h4>{{item.category}}</h4>
	                 <p style="margin-top:10px">{{category.name}}</p>
	               </div>
	               <div class="viw" style="text-align:center">
	                <a href="product.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Detalles</a>
	               </div>
	              </a>
	           </div>
	         {% endfor %}
	         <div class="clearfix"></div>
			</div>
		</div>
	</div>
{% endblock main %}


