{% extends 'base.html' %}
{% load static %}

{% block banners %}
	<div class="row">
	    <div class="col-md-12">
	        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	          <div class="carousel-inner">
	            {% for banner in banners  %}
	            	{% if forloop.first %}
			            <div class="item active">
			        {% else %}
				        <div class="item">
	            	{% endif %}
			            	<img alt="Second slide" src="{{banner.image.url}}" style="width: 100%;">
			            </div>
	            {% endfor %}
	            
	          </div>
	          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
	            <span class="glyphicon glyphicon-chevron-left"></span>
	          </a>
	          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
	            <span class="glyphicon glyphicon-chevron-right"></span>
	          </a>
	        </div>
	    </div>
    </div>
{% endblock banners %}

{% block items %}
	<div class="row">		
		<div class="col-md-12 product-info">
			<ul id="myTab" class="nav nav-tabs nav_tabs">
				<li class="active"><a href="#service-one" data-toggle="tab">NOVEDADES</a></li>
				<li><a href="#service-two" data-toggle="tab">DESTACADOS</a></li>
				<li><a href="#service-three" data-toggle="tab">POPULARES</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="service-one">
					<section class="row" style="margin-top:10px">
						{% for item in recent_items %}
							<div class="col-sm-6 col-md-4">
						      <div class="thumbnail" >
						        <h4 class="text-center"><span class="label label-info">{{item.category.name}}</span></h4>
						        <img src="http://placehold.it/650x450&text=Galaxy S5" class="img-responsive">
						        <div class="caption">
						          <div class="row" style="text-align:center">
						            <div class="col-md-12">
						              <h3>{{item.name}}</h3>
						            </div>
						            <div class="col-md-12">
						              <h3 style="margin-top: -5px; color:green">
						              <label>€{{item.price}}</label></h3>
						            </div>
						          </div>
						        </div>
						      </div>
					    	</div>
						{% endfor %}
					</section>
				</div>

				<div class="tab-pane fade" id="service-two">
					<section class="row" style="margin-top:10px">
					      {% for item in featured_items %}
							<div class="col-sm-6 col-md-4">
						      <div class="thumbnail" >
						        <h4 class="text-center"><span class="label label-info">{{item.category.name}}</span></h4>
						        <img src="http://placehold.it/650x450&text=Galaxy S5" class="img-responsive">
						        <div class="caption">
						          <div class="row" style="text-align:center">
						            <div class="col-md-12">
						              <h3>{{item.name}}</h3>
						            </div>
						            <div class="col-md-12">
						              <h3 style="margin-top: -5px; color:green">
						              <label>€{{item.price}}</label></h3>
						            </div>
						          </div>
						        </div>
						      </div>
					    	</div>
						{% endfor %}
					</section>
				</div>

				<div class="tab-pane fade" id="service-three">
					<section class="row" style="margin-top:10px">
						{% for item in popular_items %}
							<div class="col-sm-6 col-md-4">
						      <div class="thumbnail" >
						        <h4 class="text-center"><span class="label label-info">{{item.category.name}}</span></h4>
						        <img src="http://placehold.it/650x450&text=Galaxy S5" class="img-responsive">
						        <div class="caption">
						          <div class="row" style="text-align:center">
						            <div class="col-md-12">
						              <h3>{{item.name}}</h3>
						            </div>
						            <div class="col-md-12">
						              <h3 style="margin-top: -5px; color:green">
						              <label>€{{item.price}}</label></h3>
						            </div>
						          </div>
						        </div>
						      </div>
					    	</div>
						{% endfor %}
					</section>
				</div>
			</div>
			<hr>
		</div>
	</div>
{% endblock items %}