{% extends "base.html" %}

{% load static %}

{% block main %}
	<div class="items">
     <div class="container">
       <div class="items-sec">
         {% for item in recent_items %}
           <div class="col-md-3 feature-grid">
             <a href="product.html"><img src="{{item.image.url}}" alt=""/> 
               <div class="arrival-info" style="text-align:center">
                 <h4>{{item.category}}</h4>
                 <p>{{item.name}}</p>
                 <p style="color:green">{{item.price}}€</p>
               </div>
               <div class="viw" style="text-align:center">
                <a href="product.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Detalles</a>
               </div>
              </a>
           </div>
         {% endfor %}
         <div class="clearfix"></div>
       </div>
     </div>
  </div>
{% endblock main %}

{% if offers %}
  {% block offers %}
    <div class="offers">
      <div class="container">
         <h3>Promociones</h3>
         <div class="offer-grids">
           <div class="col-md-6 grid-left">
             <div class="offer-grid1">
              <div class="row">
               <div class="ofr-pic col-md-4">
                 <img src="{{offers.all.0.image.url}}" width="150px" style="margin-right:33%" alt=""/>
               </div>
               <div class="ofr-pic-info col-md-8">
                 <h4>{{offers.all.0.name}} <br>{{offers.all.0.short_description}}</h4>
                 <span>{{offers.all.0.price}} €</span>
                 <p>Shop Now</p>
               </div>
              </div>
               <div class="clearfix"></div>
             </div>
           </div>
           <div class="col-md-6 grid-left">
             <div class="offer-grid2">
              <div class="row">
               <div class="ofr-pic-info2 col-md-8">
                 <h4>{{offers.all.1.name}} <br>{{offers.all.1.short_description}}</h4>
                 <span>{{offers.all.1.price}} €</span>
                 <p>Shop Now</p>
               </div>
               <div class="ofr-pic2 col-md-4">
                 <img src="{{offers.all.1.image.url}}" width="151px" style="margin-right:33%" alt=""/>
               </div>
              </div>
               <div class="clearfix"></div>
             </div>
           </div>
           <div class="clearfix"></div>
         </div>
      </div>
    </div>
  {% endblock offers %}
{% endif %}