	<!--A Design by W3layouts 
	Author: W3layout
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
	-->
	{% extends "base.html" %}
	{% load static %}
	{% block main %}
		<div class="product">
			<div class="container">				
				<div class="product-price1">
					<div class="top-sing">
						<div class="col-md-7 single-top">	
							<img src="{{item.image.url}}" data-imagezoom="true" class="img-responsive" alt=""/>
					 	</div>	
				    	<div class="col-md-5 single-top-in simpleCart_shelfItem">
						<div class="single-para ">
							<h4>{{item.name}}</h4>							
							<h5 class="item_price">{{item.price}} €</h5>							
							<p class="para">
								{{item.description}}
							</p>
							<div class="prdt-info-grid">
								<ul>
									<li>- Brand : Fos Lighting</li>
									<li>- Dimensions : (LXBXH) in cms of...</li>
									<li>- Color : Brown</li>
									<li>- Material : Wood</li>
								</ul>
							</div>
						</div>
						</div>
						<div class="clearfix"> </div>
				 	</div>
		     	</div>
		     	{% if items %}
				 	<div class="offers">
				 		<h3 style="margin-bottom:10px">Artículos similares</h3>
						<div class="btm-grid-sec">
							{% for item in items %}
								<div class="col-md-2 btm-grid">
									<a href="{% url 'item' item.slug item.id %}">
									<img src="{{item.image.url}}" width="100px" alt=""/>
									<h4>{{item.name}}</h4>
									<span>{{item.price}}€</span></a>
							 	</div>
							{% endfor %}
						  	<div class="clearfix"></div>
					 	</div>			
				 	</div>
		     	{% endif %}
		 	</div>
		</div>
	{% endblock main %}